---
---
.account {
	margin: 50px 0px;
}
.gray-box {
	background-color: #F9F9F9;
	padding: 100px 5%;
}
.signin {
}
.signup {
}
.text {
	text-align: justify;
}
form {
	padding: 0px 10%;
}
.account .footer {
	text-align: right;
}
.account .footer > a {
	color: gray;
}
