---
---
h3 {
	color: #006666;
	font-size: 20px;
}
.publications ul,
.talks ul {
	list-style: none;
	padding: 0px;
	text-align: justify;
}
.publications li,
.talks li {
	padding: 5px 0;
}
.navigation {
	border-left: 2px solid #F9F9F9;
}
.tab-content {
	padding: 0 5%;
}
