---
layout: default
title: Demo
permalink: /demo
---

<div data-ng-controller="demo">
  <div class='row'>
    <div class='col-sm-8'>
      <h3>Activities of [[ data.user.first ]] [[ data.user.last ]]</h3>
      <p data-ng-if="">[[ data.user.first ]]'s network is currently turned off.</p>
      <p data-ng-if="">[[ data.user.first ]]'s network is currently operational.</p>
      <hr></hr>
      <table class="table table-hover" data-ng-if="data.activities.length > 0">
        <thead>
        <tr>
          <th></th>
          <th class="text-left">Activity</th>
          <th class="text-center">Start Time</th>
          <th class="text-center">End Time</th>
          <th class="text-center">Accuracy</th>
        </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="activity in data.activities">
          <td>[[ $index + 1 ]]</td>
          <td class="text-left capitalize">[[ activity.name ]]</td>
          <td class="text-center" data-ng-if="isRecent(activity.end)">
            <span am-time-ago="activity.start | amParse: 'YYYY-MM-DD HH:mm:ss'"></span>
          </td>
          <td class="text-center" data-ng-if="!isRecent(activity.end)">
            [[ formatDate(activity.start) | date:'shortTime' ]]
          </td>
          <td class="text-center" data-ng-if="isRecent(activity.end)">
            <span am-time-ago="activity.end | amParse: 'YYYY-MM-DD HH:mm:ss'"></span>
          </td>
          <td class="text-center" data-ng-if="!isRecent(activity.end)">
            [[ formatDate(activity.end) | date:'shortTime' ]]
          </td>
          <td class="text-center">[[ activity.accuracy ]]%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <div data-ng-class="(countGreens(data.metrics) == data.metrics.length) ? 'panel panel-success' : ((countGreens(data.metrics) == 0) ? 'panel panel-danger' : 'panel panel-warning')">
        <div class="panel-heading">Network Health Metrics</div>
        <div class="panel-body">
          <p data-ng-if="countGreens(data.metrics) == data.metrics.length">
            All sensor platforms are operational.
          <p>
          <p data-ng-if="countGreens(data.metrics) < data.metrics.length && countGreens(data.metrics) != 0">
            Some sensor platforms are inactive.
          <p>
          <p data-ng-if="countGreens(data.metrics) == 0">
            Sensor network is inactive.
          <p>
        </div>
        <ul class="list-group" data-ng-repeat="component in data.metrics">
          <li class="list-group-item capitalize">
            [[ component.name ]]
            <span class='badge'>
            [[ component.status ? 'ON' : 'OFF' ]]
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
